#main{
    
    margin: auto;
    margin-bottom: 10px;
    width:50%;
    height: fit-content;
    box-shadow: 0 2px 4px #ccc;
    border-radius: 5px;
    padding: 10px 30px 5px;
    background: white;
    text-align: center;
}
.option{
    margin: auto;
    height: 50px;
    width: 75px;
}
